<!DOCTYPE html>
<html>

<head>
    {{.HtmlHead}}
</head>

<body>
    {{.Header}}
    <div class="content">
        <div class="grey-banner">
            <div class="container banner_top">
                <img src="/static/img/style_img/banner_about.jpg" alt="">
            </div>
        </div>
        <div class="container">
            <section class="about-page">
                <div class="col-md-3">
                    {{.Sidebar}}
                </div>
                <div class="col-md-9">
                    {{.LayoutContent}}
                </div>
            </section>
        </div>
    </div>
    {{.Footer}} 
    {{.Scripts}}
</body>

</html>
