@font-face {
    font-family: 'FontAwesome';
    src: url('../font/fontawesome-webfont.eot?v=3.2.1');
    src: url('../font/fontawesome-webfont.eot?#iefix&v=3.2.1') format('embedded-opentype'), url('../font/fontawesome-webfont.woff?v=3.2.1') format('woff'), url('../font/fontawesome-webfont.ttf?v=3.2.1') format('truetype'), url('../font/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: 12px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Tahoma, Arial, Helvetica;
    /*background: rgb(15, 29, 51);*/
}

.container {
    max-width: 1000px;
}

.content {
    background-color: #fff;
}

p {
    text-align: justify;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
    margin: 0;
    padding: 0;
}

header {
    background: #fff url("../img/style_img/bg.jpg") repeat-x;
    /*background-image: linear-gradient(to top,#fff 0%,#ddd 100%);*/
}

.logo {
    padding: 10px 0 10px 0;
    border-top: 7px solid rgba(51, 96, 170, 1);
    border-bottom: 1px solid #eee;
}

.logo img {
    width: 80%;
    /*left: 0;*/
    
    max-width: 416px;
}

a,
a:link {
    text-decoration: none;
    color: #4F608C;
}

ul {
    list-style-type: none;
}

.logo .version {
    float: right;
    margin-top: 10px;
    padding-right: 5px;
    color: #666666;
}

nav ul li {
    font-size: 13px;
    margin: 5px 0 5px 0;
}

.navbar-nav{
    margin: 0;
}

.navbar-nav>li>a {
    color: #000;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav > li > a:hover,
.nav > li > a:focus,
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
    border-radius: 0;
    /*background-color: rgba(51, 96, 170, 0.1);*/
    
    background-color: rgba(233, 237, 245, 0.8);
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
    background-color: rgba(30, 58, 102, 0.8);
    color: rgb(244, 246, 250);
}

.dropdown-toggle:after {
    font-family: 'FontAwesome';
    content: "\f107";
    padding-left: 10px;
}

.dropdown-menu,
.dropdown-menu li {
    padding: 0;
    margin: 0;
    margin-top: -10px;
    margin-bottom: 10px;
    box-shadow: none;
    border: 0;
    border-radius: 0;
    background-color: rgba(233, 237, 245, 0.8);
}

.dropdown-menu li a {
    padding-top: 10px;
    padding-bottom: 10px;
}

.grey-banner {
    background: #f3f3f3;
}

#carousel-example-generic {
    width: 120%;
    margin-left: -10%;
}

.carousel-inner img {
    /*-webkit-filter: opacity(0.1);*/
    /*-webkit-mask-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1),rgba(0, 0, 0, 0));*/
}

.carousel-indicators {
    height: 20px;
    vertical-align: middle;
    /*background-color: rgba(255,153,102,1);*/
    
    bottom: -10px;
}

.carousel-caption {
    background: rgba(35, 35, 35, 0.5);
    /*-webkit-mask-image: -webkit-linear-gradient(left, rgba(35, 35, 35, 0) 0%,rgba(35, 35, 35, 0.5) 15%, rgba(35, 35, 35, 0.5) 85%,rgba(35, 35, 35, 0) 100%);*/
    /*opacity: 0.5;*/
    
    bottom: 0;
    font-size: 18px;
    width: 100%;
    /*right: 100%;*/
    padding: 10px 0 24px 0; 
    left: 0;
    
    font-weight: 600;
    color: #fff;
    /*left: 10%;*/
    /*width:1000px;*/
}

.carousel-control .icon-angle-left,
.carousel-control .icon-angle-right,
.carousel-control .arrow-left,
.carousel-control .arrow-right {
    position: absolute;
    top: 50%;
    /*height: 40px;*/
    /*width: 40px;*/
    
    margin-top: -20px;
    font-size: 40px;
    z-index: 5;
    display: inline-block;
    opacity: 1;
}

.carousel-control .arrow-left {
    content: url('/static/img/style_img/arrow-left.svg');
    height: 50px;
    padding: 5px 4px 5px 6px;
    border: 2px solid #fff;
    border-radius: 50%;
    opacity: 1;
    left: 50%;
}

.carousel-control .arrow-right {
    content: url('/static/img/style_img/arrow-right.svg');
    height: 50px;
    padding: 5px 6px 5px 4px;
    border: 2px solid #fff;
    opacity: 1;
    border-radius: 50%;
    right: 50%;
}

.carousel-control .arrow-left:hover,
.carousel-control .arrow-right:hover {
    background: rgba(35, 35, 35, 0.2);
    transition: all .1s ease-in;
}

.carousel-control,
.carousel-control:hover {
    /*background-image: none;*/
    
    transition: all .1s ease-in;
}

.carousel-control .icon-angle-left {
    left: 50%;
}

.carousel-control .icon-angle-right {
    right: 50%;
    /*margin-right: -15px;*/
}

.mainWrap {
    /*padding: 0 20px 0 20px;*/
}

.section {
    /*margin-top: 20px;*/
    
    /*padding: 0 10px 0 20px;*/
    padding-left: 24px;
    /*border-bottom: 1px solid #e9e8ea;*/
    
    padding-bottom: 40px;
    margin-bottom: 14px;
}

.section > .title {
    font-style: bold;
    font-size: 20px;
    color: #22132d;
    line-height: 70px;
    text-indent: 22px;
    zoom: 1;
}

.more,
.more-small {
    float: right;
    font-size: 12px;
    color: #999;
    margin-right: 22px;
}

.more:after,
.more-small:after {
    font-family: 'FontAwesome';
    content: "\f105";
    padding-left: 5px;
}

.more-small {
    float: right;
    font-size: 10px;
    margin-top: 8px;
    color: #999;
}

.disable {
    color: #aaa;
    cursor: not-allowed;
}

.breadcrumb {
    padding-left: 0;
}

.ydate {
    width: 58px;
    border: 1px solid rgba(51, 96, 170, 0);
    color: rgba(51, 96, 170, 1);
    background: rgba(51, 96, 170, 0.1);
    text-align: center;
    font-size: 12px;
    float: left;
    _display: inline;
    padding-bottom: 5px;
}

.ydate span {
    display: block;
    font-size: 24px;
    line-height: 24px;
    padding: 8px 0 2px 0;
    zoom: 1;
}

.ydate-big {
    width: 140px;
    height: 140px;
    background: rgb(51, 96, 170);
    color: #fff;
    font-size: 27px;
    border: 0;
    text-align: center;
    margin: 0 auto;
    padding: 0;
    margin-top: 40px;
}

.ydate-big span {
    display: block;
    font-size: 54px;
    line-height: 90px;
    /*padding: 8px 0 2px 0;*/
    
    zoom: 1;
}

a.ydate {
    display: inline-block;
    width: 58px;
    border: 1px solid rgba(170, 170, 170, 0.2);
    color: rgba(170, 170, 170, 0.8);
    background: #fff;
    text-decoration: none;
}

a.ydate:hover,
a.ydate:focus {
    border: 1px solid rgb(234, 238, 246);
    color: rgba(51, 96, 170, 1);
    background: rgb(234, 238, 246);
    cursor: pointer;
    transition: all .3s ease-in;
}

.nopadding {
    padding: 0;
}

.news {
    border-bottom: 1px solid #e9e8ea;
}

.newsList {
    margin: 0 0px;
    padding-left: 0;
}

.newsList li {
    float: left;
    _display: inline;
    /*width: 33.33%;*/
    
    margin: 0;
    padding-right: 24px;
    padding-left: 0;
}

.newsList .tn {
    /*margin-top: -20px;*/
    
    margin-left: 80px;
    /*width: 220px;*/
}

.newsList h5 {
    /*font-size: 15px;*/
}

.newsList .tn h5 a {
    color: #22132d;
    line-height: 20px;
    /*font-size: 15px;*/
}

.newsList .tn p {
    color: #777;
    padding-top: 8px;
}

.focusList {
    margin: 0;
    padding: 0;
}

.focusList li {
    float: left;
    . _display: inline;
    /*width: 30%;*/
    
    padding: 0;
    padding-right: 24px;
    /*border-top: 2px solid #5c307d;*/
    
    height: 280px;
    overflow: hidden;
}

.focusList img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.focusList-img {
    display: block;
    max-height: 100px;
    overflow: hidden;
}

.focusList .tn {
    padding: 0;
    border-top: 2px solid rgba(51, 96, 170, 1);
    height: 280px;
    /*margin-bottom: 1000px;*/
    /*padding-bottom: 20px;*/
    
    overflow: hidden;
}

.focusList li:nth-child(even) .tn {
    border-top: 2px solid #e0823d;
}

.focusList h5 {
    margin-top: 15px;
}

.focusList h5 a {
    color: #22132d;
    line-height: 20px;
    /*font-size: 15px;*/
}

.focusList p {
    color: #777;
    /*height: 230px;*/
    
    padding-top: 8px;
    /*padding-bottom: 20px;*/
    /*overflow: hidden;*/
}

.events {
    background: #f8f7f4;
    padding: 30px 0 30px 0;
}

.events .title {
    font-size: 18px;
    color: #22132d;
    border-bottom: 1px solid #ccc;
    padding-right: 24px;
    padding-bottom: 15px;
    margin-bottom: 20px;
    /*width: 100%;*/
    /*margin-right: 10%;*/
}

#linkList {
    padding: 0;
}

#linkList li {
    display: inline;
    padding-left: 0;
    padding-bottom: 10px;
    /*padding-right: 25px;*/
}

#linkList li a {
    color: #444;
}

#linkList li a:hover {
    color: rgb(79, 96, 140);
}

#linkList li a:after {
    font-family: 'FontAwesome';
    content: "\f105";
    padding-left: 10px;
}


.copyrights,
.copyrights a {
    color: rgb(122, 123, 125);
    padding: 20px 0;
    line-height: 22px;
}

.copyrights{
    padding-left: 15px;
    padding-right: 15px;
}
.copyrights a:hover {
    color: rgb(144, 148, 152);
    padding: 20px 0;
    line-height: 22px;
}

.copyrights .info > span,
.copy > span {
    padding-right: 24px;
}

.clear {
    clear: both;
    overflow: hidden;
    height: 0;
}

.error {
    text-align: center;
}

.error img {
    padding: 50px 0;
}

.error .warning {
    font-size: 20px;
    padding-top: 20px;
    color: rgb(103, 109, 117);
}

.message {
    font-size: 16px;
    font-weight: 300;
    margin-top: 20px;
    padding-bottom: 20px;
    color: rgb(103, 109, 117);
}

.message a:hover {
    color: rgb(20, 50, 100);
}

.message a:before {
    font-family: 'FontAwesome';
    content: "\f104";
    padding-right: 10px;
}

.news-item-section {
    /*padding-left: 30px;*/
    
    padding-top: 20px;
}

.news-item-img {
    max-height: 300px;
    margin-bottom: 30px;
    overflow: hidden;
}

.news-item-img img {
    width: 100%;
}

.news-item-main {
    margin-left: 5px;
}

.news-item-title {
    color: #22132d;
    font-size: 24px;
    line-height: 1.25em;
    padding: 0 0 10px 0;
    padding-left: 15px;
    border-bottom: 1px solid #ddd;
}

.news-item-content p {
    font-size: 14px;
    text-indent: 2em;
    line-height: 24px;
}

.news-item-content p:first-child {
    padding-top: 20px;
}

.banner_top img {
    display: block;
    width: 120%;
    margin-left: -10%;
    background: #f3f3f3;
    -webkit-mask-image: -webkit-linear-gradient(left, rgba(243, 243, 243, 0.0001) 0%, rgba(243, 243, 243, 1) 30%, rgba(243, 243, 243, 1) 70%, rgba(243, 243, 243, 0.0001) 100%);
}

.leftNav {
    border-left: 12px solid rgba(51, 96, 170, 1);
    position: relative;
    top: -34px;
    left: -12px;
    width: 100%;
}

.navTitle {
    background: rgba(51, 96, 170, 1);
    color: #fff;
    font-size: 22px;
    line-height: 68px;
    padding: 0 22px;
}

.sidebar li {
    border-bottom: 1px solid #ddd;
    font-size: 15px;
    line-height: 22px;
    zoom: 1;
    position: relative;
}

.sidebar {
    border-top: 1px solid #ddd;
    margin-top: 20px;
    display: block;
}

.sidebar li a {
    position: relative;
    color: #000;
    border-radius: 0;
}

.sidebar li a:hover {
    color: rgb(79, 96, 140);
    box-shadow: -2px 0px 0px #ff9600;
    background: none;
}

.sidebar li a.active:hover,
.sidebar li a.active {
    box-shadow: -4px 0px 0px #ff9600;
    /*margin-left: -4px;*/
}

.breadcrumb {
    padding-top: 20px;
    background: none;
    border: none;
}

.breadcrumb > li {
    display: inline-block;
}

.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "/\00a0";
}

.general-title {
    font-size: 18px;
    color: rgb(79, 96, 140);
    border-bottom: 1px solid #ccc;
    padding-right: 24px;
    padding-bottom: 15px;
    margin-bottom: 20px;
}

.general-side-img img {
    padding-bottom: 20px;
    width: 100%;
}

.collaboration ul {
    padding: 0;
}

.participant {
    padding-bottom: 10px;
}

.participant p {
    margin: 0;
}

.center {
    text-align: center;
}

.bold {
    font-weight: 800;
}

.publications {
    padding-bottom: 20px;
}

.publications .main-title,
.committee .title {
    font-size: 18px;
    color: rgb(79, 96, 140);
    border-bottom: 1px solid #ccc;
    padding: 10px 24px 15px 0;
    margin-bottom: 20px;
}

.publications ul {
    padding: 0;
    padding-top: 10px;
}

.publications .author {
    display: block;
    margin-top: 5px;
    font-style: italic;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.5);
}

.publications ul li {
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    box-shadow: -2px 0px 0px #ff9600;
    /*border-left: 2px solid #ff9600;*/
    
    margin-left: 2px;
    display: block;
}

table {
    cursor: default;
}

.publications ul li:hover {
    background: rgb(234, 238, 246);
    box-shadow: -4px 0px 0px #ff9600;
    /*margin-left: -4px;*/
    /*border-left: 4px solid #ff9600;*/
    
    cursor: pointer;
    transition: all .1s ease-in;
}

.publications .date {
    float: right;
    font-style: italic;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.5);
}

.newsList-all .date {
    float: right;
    font-style: italic;
    font-size: 10px;
    color: rgba(0, 0, 0, 0.5);
    padding-top: 5px;
    font-weight: 200;
}

.newsList-all ul li {
    list-style-type: circle;
    padding: 10px;
    border-bottom: 1px dashed #ddd;
}

.newsList-all ul {
    margin: 20px 0;
    padding-left: 20px;
    padding-bottom: 20px;
}

.newsList-all-title {
    font-size: 16px;
}

@media (max-width: 768px) {
    .container {
        padding: 0;
    }
    .ydate-big {
        zoom: 0.5;
        margin-top: 80px;
    }
    .carousel-control .arrow-right,
    .carousel-control .arrow-left {
        zoom: 0.8;
    }
    .nav>li {
        margin-left: 10px;
    }
    .dropdown-menu,
    .dropdown-menu li,
    .dropdown-menu li a {
        width: auto;
        min-width: 0;
    }
    .sidebar li {
        margin-left: 0;
    }
}

.committee,
.general-content{
    padding-bottom: 20px;
}

@media (max-width: 992px) {
    .leftNav {
        border-right: 12px solid rgba(51, 96, 170, 1);
        margin-left: 0;
        left: 0;
    }
    .newsList li {
        padding-left: 0;
        padding-right: 0;
    }
    #carousel-example-generic {
        width: 100%;
        margin-left: 0;
    }
    div {
        margin: 0 auto;
        display: block;
    }
}
